.rows {
    background-color: grey;
    width: 25px;
    height: 25px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    margin: 0;
    text-align: center;
}